@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/

.bg-blue-radial {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 88, 248, 0.6) 0%,
    rgba(0, 88, 248, 0) 100%
  );
  filter: blur(1.5rem);
}

.bg-yellow-radial {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(242, 169, 0, 0.6) 0%,
    rgba(242, 169, 0, 0) 100%
  );
  filter: blur(1.5rem);
}

.bg-purple-radial {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(127, 37, 225, 0.4) 0%,
    rgba(198, 0, 248, 0) 100%
  );
  filter: blur(1rem);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dropdown {
  display: none;
}

.hamburger-btn {
  width: 20px;
  height: 24px;
  position: relative;
  margin: 3px 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.hamburger-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #374151;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform-origin: left;
  transform-origin: left;
}

.hamburger-btn span:nth-child(1) {
  top: 4px;
}

.hamburger-btn span:nth-child(2) {
  top: 10px;
}

.hamburger-btn span:nth-child(3) {
  top: 16px;
}

.hamburger-btn.open span {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger-btn.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 3px;
}

.hamburger-btn.open span:nth-child(2) {
  left: 30px;
}

.hamburger-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 3px;
}

.wrapper {
  width: 80%;
}

@media (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
}
