@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #170d50;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dropdown {
  display: none;
}

.hamburger-btn {
  width: 20px;
  height: 24px;
  position: relative;
  margin: 3px 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.hamburger-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #374151;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform-origin: left;
  transform-origin: left;
}

.hamburger-btn span:nth-child(1) {
  top: 4px;
}

.hamburger-btn span:nth-child(2) {
  top: 10px;
}

.hamburger-btn span:nth-child(3) {
  top: 16px;
}

.hamburger-btn.open span {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger-btn.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 3px;
}

.hamburger-btn.open span:nth-child(2) {
  left: 30px;
}

.hamburger-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 3px;
}

.wrapper {
  width: 80%;
}

#marble-down {
  animation: marble-down 5s infinite;
}

@keyframes marble-down {
  0%,
  10%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  54%,
  56% {
    transform: translateY(100%);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
}

#marble-up {
  animation: marble-up 5s infinite;
}

@keyframes marble-up {
  0%,
  10%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  54%,
  56% {
    transform: translateY(-100%);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
}

#marble-left {
  animation: marble-left 5s infinite;
}

@keyframes marble-left {
  0%,
  10%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  54%,
  56% {
    transform: translateX(-100%);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
}

#marble-right {
  animation: marble-right 5s infinite;
}

@keyframes marble-right {
  0%,
  10%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  54%,
  56% {
    transform: translateX(100%);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
}

#non-custodial-bitcoin {
  animation: non-custodial-bitcoin 5s infinite;
}

@keyframes non-custodial-bitcoin {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  50% {
    transform: translateY(-1.5rem);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
}

#utilization-fire {
  animation: utilization-fire 5s infinite;
  animation-delay: 1s;
}

@keyframes utilization-fire {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  50% {
    transform: translateY(-0.5rem);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
}

#utilization-rocket {
  animation: utilization-rocket 5s infinite;
  animation-delay: 1s;
}

@keyframes utilization-rocket {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  50% {
    transform: translateY(-2rem);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
}

#improvement-lego {
  animation: improvement-lego 5s infinite;
  animation-delay: 2s;
}

@keyframes improvement-lego {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  50% {
    transform: translateY(-2rem);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
}

@media (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
}
